.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.calendly {
  width: 100%;
  height: 630px;
}

@media (max-width: 640px) {
  .calendly {
    min-width: 320px;
  }
}
