@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
  --primary-color: #171819;
  --background-color: var(--primary-color);
  --text-color: #ffffff;
  --button-bg-color: #ffffff;
}

@media (prefers-color-scheme: light) {
  :root {
    --primary-color: #ffffff;
    --background-color: var(--primary-color);
    --text-color: #171819;
    --button-bg-color: #171819;
  }
}

html,
body {
  height: 100%;
  padding: 0;
  margin: 0;
  font-family: 'Poppins', sans-serif;
  line-height: 1.6;
  font-size: 18px;
  font-weight: 200;
  background-color: var(--background-color);
  color: var(--text-color);
}

* {
  box-sizing: border-box;
}

a {
  color: var(--text-color);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

img {
  max-width: 100%;
  display: block;
}

footer {
  margin-top: 49px;
  text-align: center;
  font-size: 0.65rem;
  line-height: 1.5;
}

.button {
  padding: 10px 20px;
  border-radius: 4px;
  background-color: var(--button-bg-color);
  color: var(--primary-color);
}

.justify {
  text-align: justify;
}

.abstract {
  font-weight: 200;
  text-align: justify;
  font-size: 0.75rem;
}

.borderCircle {
  border-radius: 9999px;
}

.container {
  padding: 0 30%;
}

.avatar {
  display: flex; 
  justify-content: center; 
}

.text-center {
  text-align: center;
}

.social-media {
  padding: 5px 25% 0 25%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.icon-udemy:hover {
  color: #5624d0;
}

.icon-instagram:hover {
  color: #E1306C;
}

.icon-facebook:hover {
  color: #3578e5;
}

.icon-youtube:hover {
  color: #ff0000;
}

.icon-linkedin:hover {
  color: #0a66c2;
}

.icon-github:hover {
  color: #24292f;
}

.mt-50 {
  margin-top: 50px;
}

@media (max-width: 640px) {
  .container {
    padding: 0 1%;
  }
}

.action-button {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  padding: 10px;
  cursor: pointer;
  margin-bottom: 10px;
}

.action-buttons {
  margin-top: 25px;
}

.action-button>.icon {
  margin-right: 10px;
}

.action-button.youtube {
  border: 1px solid #ff0000;
  background-color: #ff0000;
}

.action-button.youtube:hover {
  background-color: #fff;
  color: #ff0000;
}

.action-button.udemy {
  border: 1px solid #5624d0;
  background-color: #5624d0;
}

.action-button.udemy:hover {
  color: #5624d0;
  background-color: #fff;
}

.action-button.blog {
  border: 1px solid #24292f;
  background-color: #24292f;
}

.action-button.blog:hover {
  color: #24292f;
  background-color: #fff;
}