.card {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border: 1px solid rgba(255, 255, 255, 0.75);
  border-radius: 4px;
  padding: 15px 25px;
}

.image {
  width: 30%;
}

.content {
  width: 70%;
  margin-left: 25px;
  text-align: justify;
}

@media (max-width: 640px) {
  .card {
    flex-direction: column;
  }

  .image {
    width: 100%;
  }

  .content {
    width: 100%;
    margin-left: 0px;
  }
}
