@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
  --dark-background-color: #171819;
  --dark-text-color: #ffffff;
}

html,
body {
  height: 100%;
  padding: 0;
  margin: 0;
  font-family: 'Poppins', sans-serif;     
  line-height: 1.6;
  font-size: 18px;
  font-weight: 400;
  background-color: var(--dark-background-color);
  color: var(--dark-text-color);
}

* {
  box-sizing: border-box;
}

a {
  color: var(--dark-text-color);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

img {
  max-width: 100%;
  display: block;
}

footer {
  margin-top: 99px;
  text-align: center;
  font-size: 0.65rem;
  line-height: 1.5;
}

.justify {
  text-align: justify;
}